<div class="container">
    <div class="hero">
        <img src="../../../assets/images/illustration-hero.svg" alt="" srcset="">
    </div>
    <div class="text-content">
        <h2 class="title">Order Summary</h2>
        <p class="sub-title">you can now listen to millions of sonngs, audiobooks, and podcasts on any device anywhere
            you like!</p>
        <div class="music">
            <div class="annual-plan">
                <img src="../../../assets/images/icon-music.svg" alt="" srcset="">
                <div>
                    <h5>Annual Plan</h5>
                    <p>$59.55/year</p>
                </div>
            </div>
            <a href="#">Change</a>
        </div>
        <a href="#" class="confirm-btn">Proceed to Payment</a>
        <a href="#" class="cancel-btn">Cancel Order</a>
    </div>
</div>